@using NeoXignaAPI.Entities
@model DocumentStoreResponse

<br>
<br>

<div class="row align-items-center">
    <div class="col-5-md">
        <div class="jumbotron">
            <p>Firma digital de PDF con firma aparente</p>
            <div class="alert alert-success" role="alert">
              PAdes con LTV
            </div>
            <br>
            <div class="d-flex justify-content-center">
            <a href="~/Home/PDF" class="btn btn-success active" role="button" aria-pressed="true">Probar PDF</a>
            </div>
        </div>
    </div>
     <div style="width:100px">
        &nbsp;    
    </div>
    <div class="col-5-md">
        <div class="jumbotron">
            <p>Firma digital de XML con estampa de tiempo</p>
            <div class="alert alert-success" role="alert">
              Xades-T
            </div>
            <br>
            <div class="d-flex justify-content-center">
            <a href="~/Home/XML" class="btn btn-success active" role="button" aria-pressed="true">Probar XML</a>
            </div>
        </div>
    </div>
</div>